.settings
.project
catastro-data/.settings
catastro-data/target
catastro-data/.classpath
catastro-data/.project

catastro-entities/.settings
catastro-entities/target
catastro-entities/.classpath
catastro-entities/.project

catastro-services/.settings
catastro-services/target
catastro-services/.classpath
catastro-services/.project

catastro-web/.settings
catastro-web/target
catastro-web/.classpath
catastro-web/.project